{#
  GitHub release notes template for python-semantic-release v9.
  Keep a Changelog style with PSR v9 LONG_TYPE_NAMES.
#}{%- set ns = namespace(added=[], changed=[], fixed=[])
%}{%  for type, commits in release["elements"].items()
%}{%    if type == "unknown"
%}{%    elif type == "features"
%}{%      set ns.added = ns.added + commits
%}{%    elif type == "bug fixes"
%}{%      set ns.fixed = ns.fixed + commits
%}{%    else
%}{%      set ns.changed = ns.changed + commits
%}{%    endif
%}{%  endfor
%}{%  if ns.added
%}{{    "\n## Added\n"
}}{%    for commit in ns.added
%}{{    "- %s ([`%s`](%s))\n" | format(commit.descriptions[0], commit.short_hash, commit.hexsha | commit_hash_url)
}}{%    endfor
%}{%  endif
%}{%  if ns.changed
%}{{    "\n## Changed\n"
}}{%    for commit in ns.changed
%}{{    "- %s ([`%s`](%s))\n" | format(commit.descriptions[0], commit.short_hash, commit.hexsha | commit_hash_url)
}}{%    endfor
%}{%  endif
%}{%  if ns.fixed
%}{{    "\n## Fixed\n"
}}{%    for commit in ns.fixed
%}{{    "- %s ([`%s`](%s))\n" | format(commit.descriptions[0], commit.short_hash, commit.hexsha | commit_hash_url)
}}{%    endfor
%}{%  endif
%}
