{# Keep a Changelog template for python-semantic-release v9 #}
{# Maps conventional commit types to Keep a Changelog categories #}
# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{# --- Unreleased section --- #}
{%- if ctx.history.unreleased | length > 0 %}

## [Unreleased]
{%- set ns = namespace(added=[], changed=[], deprecated=[], removed=[], fixed=[], security=[]) %}
{%- for type, commits in ctx.history.unreleased.items() %}
{%- if type == "feature" or type == "feat" %}
{%- set ns.added = ns.added + commits %}
{%- elif type == "fix" %}
{%- set ns.fixed = ns.fixed + commits %}
{%- elif type == "breaking" %}
{%- set ns.changed = ns.changed + commits %}
{%- elif type in ["perf", "refactor", "docs", "style", "ci", "build", "chore", "test"] %}
{%- set ns.changed = ns.changed + commits %}
{%- else %}
{%- set ns.changed = ns.changed + commits %}
{%- endif %}
{%- endfor %}
{%- if ns.added %}

### Added
{% for commit in ns.added %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.changed %}

### Changed
{% for commit in ns.changed %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.deprecated %}

### Deprecated
{% for commit in ns.deprecated %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.removed %}

### Removed
{% for commit in ns.removed %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.fixed %}

### Fixed
{% for commit in ns.fixed %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.security %}

### Security
{% for commit in ns.security %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- endif %}

{# --- Released versions --- #}
{%- for version, release in ctx.history.released.items() %}

## [{{ version.as_tag() | replace("v", "") }}] - {{ release.tagged_date.strftime("%Y-%m-%d") }}
{%- set ns = namespace(added=[], changed=[], deprecated=[], removed=[], fixed=[], security=[]) %}
{%- for type, commits in release["elements"].items() %}
{%- if type == "feature" or type == "feat" %}
{%- set ns.added = ns.added + commits %}
{%- elif type == "fix" %}
{%- set ns.fixed = ns.fixed + commits %}
{%- elif type == "breaking" %}
{%- set ns.changed = ns.changed + commits %}
{%- elif type in ["perf", "refactor", "docs", "style", "ci", "build", "chore", "test"] %}
{%- set ns.changed = ns.changed + commits %}
{%- else %}
{%- set ns.changed = ns.changed + commits %}
{%- endif %}
{%- endfor %}
{%- if ns.added %}

### Added
{% for commit in ns.added %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.changed %}

### Changed
{% for commit in ns.changed %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.deprecated %}

### Deprecated
{% for commit in ns.deprecated %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.removed %}

### Removed
{% for commit in ns.removed %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.fixed %}

### Fixed
{% for commit in ns.fixed %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- if ns.security %}

### Security
{% for commit in ns.security %}
- {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}
{%- endif %}
{%- endfor %}

{# --- Comparison links --- #}
{%- set all_versions = ctx.history.released.keys() | list %}
{%- if all_versions | length > 0 %}

{% if ctx.history.unreleased | length > 0 -%}
[Unreleased]: https://github.com/{{ ctx.repo_owner }}/{{ ctx.repo_name }}/compare/{{ all_versions[0].as_tag() }}...HEAD
{% endif -%}
{%- for version in all_versions %}
{%- if not loop.last %}
[{{ version.as_tag() | replace("v", "") }}]: https://github.com/{{ ctx.repo_owner }}/{{ ctx.repo_name }}/compare/{{ all_versions[loop.index].as_tag() }}...{{ version.as_tag() }}
{%- else %}
[{{ version.as_tag() | replace("v", "") }}]: https://github.com/{{ ctx.repo_owner }}/{{ ctx.repo_name }}/releases/tag/{{ version.as_tag() }}
{%- endif %}
{%- endfor %}
{%- endif %}
